// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #00A0FF;
$color-white: #FFFFFF;
$color-text:  #0D042B;
$color-gray:  #2B5F72;
$color-while: #FDFCF9;
$color-bread: #0D042B;

// Background Colors
$bg-color-white: $color-while;
$bg-color-dark:  #222228;
$bg-color-gray:  #FAFAFA;
$bg-color-spray: #F7F6ED;

// Border
$color-border: #E9EFF3;

// Links
$color-link:        $color-text;
$color-link-hover:  $color-brand;